RewriteEngine On

RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$

RewriteRule ^start-tryout$ page-client/start-tryout.php
RewriteRule ^auth$ page-login/login.php
RewriteRule ^redirect$ page-login/redirect.php

RewriteRule ^client$ page-client/index.php
RewriteRule ^agenda$ page-client/index.php
RewriteRule ^beranda$ page-client/index.php
RewriteRule ^lihat-paket$ page-client/index.php
RewriteRule ^riwayat-paket$ page-client/index.php