RewriteEngine On

RewriteRule ^start-tryout$ /halo-mahasiswa/page-client/start-tryout.php
RewriteRule ^$ /https://deploy.sgd-dev.com/page-login/login.php
RewriteRule ^redirect$ /halo-mahasiswa/page-login/redirect.php

RewriteRule ^client$ /halo-mahasiswa/page-client/index.php
RewriteRule ^agenda$ /halo-mahasiswa/page-client/index.php
RewriteRule ^beranda$ /halo-mahasiswa/page-client/index.php
RewriteRule ^lihat-paket$ /halo-mahasiswa/page-client/index.php
RewriteRule ^riwayat-paket$ /halo-mahasiswa/page-client/index.php